.sets__center{
    margin-top: 1.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;
}

.item-sets__photo img{
    max-width: 100%;
}