@font-face {
    font-family: FuturaPT;
    src: url('./../fonts/FuturaPT/FuturaPT-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: FuturaPT;
    src: url('./../fonts/FuturaPT/FuturaPT-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: FuturaPT;
    src: url('./../fonts/FuturaPT/FuturaPT-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: FuturaPT-Demi;
    src: url('./../fonts/FuturaPT/FuturaPT-Demi.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Futura PT Cond Book;
    src: url('./../fonts/FuturaPT/FuturaPTCond-Book.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Futura PT Book;
    src:url('./../fonts/FuturaPT/FuturaPT-Book.ttf') format('truetype');
    font-weight: 400;
}